--- #
--- # Create Namespace for each team/student
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{team}}
---
--- # Authorization for namespace
---
apiVersion: "rbac.authorization.k8s.io/v1"
kind: RoleBinding
metadata: 
 name: "ibm-privileged-clusterrole-rolebinding"
 namespace: {{team}}
roleRef: 
 apiGroup: "rbac.authorization.k8s.io"
 kind: ClusterRole
 name: "ibm-privileged-clusterrole"
subjects: 
- apiGroup: "rbac.authorization.k8s.io"
  kind: Group
  name: "system:serviceaccounts:{{team}}"
---
--- # ConfigMap for team namespace
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{team}}-collector-config
  namespace: {{team}}
data:
  COLLECTOR_CONFIG: 'http://{{team}}-student-ui'
  INSTRUCTOR_CONFIG: '{{instructorUrl}}'