---  
--- # Create Instructor config map with url
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: instructor-ui-config
  namespace: {{instructorNamespace}}
data:
  COLLECTOR_CONFIG: '{{instructorUrl}}'
--- #
--- # 
--- # Adding one time definition for course, really should be moved to a separate file
--- # Course :: Avail namespace and config map for lab
---
apiVersion: v1
kind: Namespace
metadata:
  name: avail
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: avail-collector-config
  namespace: avail
data:
  COLLECTOR_CONFIG: 'http://avail-student-ui'
  INSTRUCTOR_CONFIG: '{{instructorUrl}}'  